.btn{
    &,
    
    &:visited{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-text;
        cursor: pointer;
        transition: all .2s;
        display: inline-block;
        padding: 1rem 2.5rem;
        border-radius: .4rem;
        
    }
    &:hover{
        color: $color-primary;
        transform: translateY(-1rem);
        box-shadow: 0rem 2rem 6rem rgba(0,0,0,.3);
    }
    &:active{
        transform: translateY(0rem);
        box-shadow: 0rem 2rem 6rem rgba(0,0,0,.7);
    }
    &--white{
        background-color: $color-white;
        &:hover{
            background-color: $color-primary;
            color: $color-white;
        }
    }
}