*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.7;
}

body{
    font-family: 'Maven Pro', sans-serif;
    color: $color-text;
    width: 70%;
    margin: 0 auto;
}