$color-primary: #00c9d0;
$color-white: #fff;

$color-text: #444444;

$color-black: #333;
$color-lighter-grey: #FCFCFC;
$color-grey-1: #ebebeb;
$color-grey-2: #ddd;
$color-grey-3: #bdbdbd;

$border-bottom: 1px solid #ddd;
